.container
  .header
    .title Welcome to Powder!
    .nav
      %ul.tabs
        %li
          %a{href: "#"} Teste
        %li 
          %a{href: "#"} Teste
        %li
          %a{href: "#"} Teste
        %li
          %a{href: "#"} Teste
  .content
  .footer

